h1{
    color: red;
}
.h2{
    background-color: rgb(79, 121, 37);
    color: white;
}
.h2-1{
    background-color:rgb(79, 121, 37);
    color: white;
    padding: 50px; 
}
.text-1{
    background-color: royalblue;
    color: white;
    width: 150px;
    height: 70px;
}
.text-2 span{
    color: red;
}
.table{
    font-size: 25px;
    border: 1px solid black;
}