img{
    width: 120px;
}


h1{
    color: red;
}
h2{
 background-color: rgb(26, 156, 26);  
 color: white;   
}
.h2-1{
    
    
    padding: 50px; 
}
.text-1{
    background-color: royalblue;
    color: white;
    width: 130px;
    margin-bottom: 120px;    
}
.text-2 span{
    color: red;
}
.text-3{
    margin-left: 80px;
}
.table{
    font-size: 25px;
    border: 1px solid black;
}
